/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/

body { 
    font: 12px "Lucida Grande", Sans-Serif; 
    background-color: #fff7ee; 
}
@font-face {
    font-family: solid3DFont;
    src: url(../fonts/solid_3d.ttf);
}
.title{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: default;
}
.logo {
    width: 270px;
    height: auto;
    display:inline-block;
    vertical-align:middle;
    padding-top: 5px;
}
h1 {
    font-family: solid3DFont;
    font-size: 6em;
    text-align: center;
    color: #000;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
}
h2 { 
    color: #fa9f00; 
    font: 30px Helvetica, Sans-Serif; 
    margin: 0 0 10px 0; 
}
.navbar {
    background-color: #ccc;
    height: 55px;
}
.navbar-nav li button {
    background-color: royalblue;
    height: 45px;
    margin-top: 5px;
    margin-left: -25px;
    margin-bottom: 5px;
    border-radius: 15px;
}
.main-container {
    padding-top: 25px;
}
body {
  padding-top: 50px;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
  border: 0;
}
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.control-panel {
  /*text-align: center;*/
}
.control {
  -webkit-box-shadow: #CCCCCC 0px 1px 0px inset;
  -moz-box-shadow: #CCCCCC 0px 1px 0px inset; 
  box-shadow: #CCCCCC 0px 1px 0px inset; 
  -webkit-border-radius: 15px; 
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-family:arial, helvetica, sans-serif; 
  padding: 10px 10px 10px 10px; 
  text-decoration:none; 
  display:inline-block;
  font-weight:bold; 
  color: #000000;
}
.start {
  border:2px solid #F57F97;
  background-color: #F5B5C8; background-image: -webkit-gradient(linear, left top, left bottom, from(#F5B5C8), to(#FF8F80));
  background-image: -webkit-linear-gradient(top, #F5B5C8, #FF8F80);
  background-image: -moz-linear-gradient(top, #F5B5C8, #FF8F80);
  background-image: -ms-linear-gradient(top, #F5B5C8, #FF8F80);
  background-image: -o-linear-gradient(top, #F5B5C8, #FF8F80);
  background-image: linear-gradient(to bottom, #F5B5C8, #FF8F80);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F5B5C8, endColorstr=#FF8F80);
}
.start:hover, .start:focus {
  border:2px solid #FF8F80;
  background-color: #F57F97; background-image: -webkit-gradient(linear, left top, left bottom, from(#F57F97), to(#FF8F80));
  background-image: -webkit-linear-gradient(top, #F57F97, #FF8F80);
  background-image: -moz-linear-gradient(top, #F57F97, #FF8F80);
  background-image: -ms-linear-gradient(top, #F57F97, #FF8F80);
  background-image: -o-linear-gradient(top, #F57F97, #FF8F80);
  background-image: linear-gradient(to bottom, #F57F97, #FF8F80);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F57F97, endColorstr=#FF8F80);
}
.start:active, .stop:active, .report:active,
.avatar:active, .background:active{
  box-shadow: 1px 1px 5px #888;
}
.start, .stop, .report {
  font-size: 13px;
  width: 95px;
}
.avatar, .background {
  font-size: 12px;
  width: 145px;
  margin-top: 10px;
}
.stop, .report, .avatar, .background {
  border:2px solid #52A1E5;
  background-color: #D6EEFC; background-image: -webkit-gradient(linear, left top, left bottom, from(#D6EEFC), to(#5AB5EA));
  background-image: -webkit-linear-gradient(top, #D6EEFC, #5AB5EA);
  background-image: -moz-linear-gradient(top, #D6EEFC, #5AB5EA);
  background-image: -ms-linear-gradient(top, #D6EEFC, #5AB5EA);
  background-image: -o-linear-gradient(top, #D6EEFC, #5AB5EA);
  background-image: linear-gradient(to bottom, #D6EEFC, #5AB5EA);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#D6EEFC, endColorstr=#5AB5EA);
}
.stop:hover, .stop:focus,
.report:hover, .report:focus,
.avatar:hover, .avatar:focus,
.background:hover, .background:focus{
  border:2px solid #5AB5EA;
  background-color: #52A1E5; background-image: -webkit-gradient(linear, left top, left bottom, from(#52A1E5), to(#5AB5EA));
  background-image: -webkit-linear-gradient(top, #52A1E5, #5AB5EA);
  background-image: -moz-linear-gradient(top, #52A1E5, #5AB5EA);
  background-image: -ms-linear-gradient(top, #52A1E5, #5AB5EA);
  background-image: -o-linear-gradient(top, #52A1E5, #5AB5EA);
  background-image: linear-gradient(to bottom, #52A1E5, #5AB5EA);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#52A1E5, endColorstr=#5AB5EA);
}
.username {
  max-width: 300px;
  border: 1px solid #000;
  text-align: center;
  margin-top: 15px;
  -webkit-box-shadow: #CCCCCC 0px 1px 0px inset;-moz-box-shadow: #CCCCCC 0px 1px 0px inset; box-shadow: #CCCCCC 0px 1px 0px inset; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-top-left-radius: 5px;-moz-border-top-right-radius: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px; font-size:13px;font-family:arial, helvetica, sans-serif; text-decoration:none; display:block;font-weight:bold; color: #000000;
}
.username:hover, .username:focus {
  cursor: default;
  text-decoration: none;
  color: black;
}
.nobody {
    
}
.stranger {
  background-color: #F5B5C8; background-image: -webkit-gradient(linear, left top, left bottom, from(#F5B5C8), to(#FF8F80));
  background-image: -webkit-linear-gradient(top, #F5B5C8, #FF8F80);
  background-image: -moz-linear-gradient(top, #F5B5C8, #FF8F80);
  background-image: -ms-linear-gradient(top, #F5B5C8, #FF8F80);
  background-image: -o-linear-gradient(top, #F5B5C8, #FF8F80);
  background-image: linear-gradient(to bottom, #F5B5C8, #FF8F80);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F5B5C8, endColorstr=#FF8F80);
}
.user {
  background-color: #D6EEFC; background-image: -webkit-gradient(linear, left top, left bottom, from(#D6EEFC), to(#5AB5EA));
  background-image: -webkit-linear-gradient(top, #D6EEFC, #5AB5EA);
  background-image: -moz-linear-gradient(top, #D6EEFC, #5AB5EA);
  background-image: -ms-linear-gradient(top, #D6EEFC, #5AB5EA);
  background-image: -o-linear-gradient(top, #D6EEFC, #5AB5EA);
  background-image: linear-gradient(to bottom, #D6EEFC, #5AB5EA);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#D6EEFC, endColorstr=#5AB5EA);
}
#page-wrap { 
  width: auto; 
  position: relative;
}
#chat-wrap { 
  border: 1px solid #eee; 
  margin: 0 0 15px 0; 
}
#chat-profile {
  border: 1px solid #000;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  height: 100px;
  background-color: white;
}
#chat-area { 
  height: 525px; 
  overflow: auto; 
  border: 1px solid #666;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px; 
  background: white; 
}
#chat-area span { 
  color: white; 
  background: #333; 
  padding: 4px 8px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 8px; 
  margin: 0 5px 0 0; 
}
#chat-area p { 
  padding: 8px 0; 
  border-bottom: 1px solid #ccc; 
}
#name-area { 
  position: absolute; 
  top: 12px; 
  right: 0; 
  color: white; 
  font: bold 12px "Lucida Grande", Sans-Serif; 
  text-align: right; 
}   
#name-area span { 
    color: #fa9f00; 
}
#send-message-area p { 
    float: left; 
    color: white; 
    padding-top: 27px; 
    font-size: 14px; 
}
#sendie { 
    border: 3px solid #999;
    width: 87%;
    height: 100px;
    font: 12px "Lucida Grande", Sans-Serif; 
    float: left; 
    resize: none;
    padding: 5px;
    border-radius: 5px;
}
#send {
  width: 70px;
  height: 100px;
  margin-left: 10px;
  border:1px solid #94D3F7;-webkit-box-shadow: #CCCCCC 0px 1px 0px inset;-moz-box-shadow: #CCCCCC 0px 1px 0px inset; box-shadow: #CCCCCC 0px 1px 0px inset; -webkit-border-radius: 15px; -moz-border-radius: 15px;border-radius: 15px;font-size:15px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;font-weight:bold; color: #000000;
  background-color: #FFFFFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#94D3F7));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #94D3F7);
  background-image: -moz-linear-gradient(top, #FFFFFF, #94D3F7);
  background-image: -ms-linear-gradient(top, #FFFFFF, #94D3F7);
  background-image: -o-linear-gradient(top, #FFFFFF, #94D3F7);
  background-image: linear-gradient(to bottom, #FFFFFF, #94D3F7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#94D3F7);
}
#send:hover, #send:focus {
  border:1px solid #94D3F7;
  background-color: #597E94; background-image: -webkit-gradient(linear, left top, left bottom, from(#597E94), to(#94D3F7));
  background-image: -webkit-linear-gradient(top, #597E94, #94D3F7);
  background-image: -moz-linear-gradient(top, #597E94, #94D3F7);
  background-image: -ms-linear-gradient(top, #597E94, #94D3F7);
  background-image: -o-linear-gradient(top, #597E94, #94D3F7);
  background-image: linear-gradient(to bottom, #597E94, #94D3F7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#597E94, endColorstr=#94D3F7);
}