/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
html, body {
    min-height: 100%;
}
body {
    font-family: 'Liberation Sans', sans-serif;
}
img.bg {
    opacity: 0.3;
    filter: alpha(opacity=30);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
@font-face {
    font-family: solid3DFont;
    src: url(../fonts/solid_3d.ttf);
}
.logo {
    width: 77px;
    height: auto;
    display:inline-block;
    vertical-align:middle;
    padding-top: 27px;
    padding-right: 15px; 
}
h1 {
    font-family: solid3DFont;
    font-size: 9em;
    text-align: center;
    color: #000;
    font-weight: 100; 
    max-height: 150px;
    display:inline-block;
    vertical-align:middle;
}
h2 {
    font-size: 2.3em;
    text-align: center;
    color: #000;
    font-weight: 100; 
    margin-bottom: 1em;
}
h3 {
    font-size: 1.3em;
    text-align: center;
    color: #000;
    font-weight: 100; 
    margin-bottom: 0.5em;
}
.login-form h2, .login-form h3 {
    font-size: 2.2em;
    color: #fff;
    text-align: center;
    margin-bottom: 1.5em; 
    line-height: 0.7em;
}
/*-- main --*/
.main {
    padding: 0;
    text-align: center;
    position: relative;
}
.main-w3lsrow {
    width: 51%;
    margin: 0 auto;
}
.login-form {
    display: block;
    width: 38%;
    float:left;
    /*background: #222430;*/
    padding: 0 2.2em 0 2.2em;
    background-size: cover;
    text-align: left; 
}
.login-form.login-form-left { 
    border-right: 1px solid #000;
}
.login-form.agileits-right { 
    float: right;
    border-left: 1px solid #000;
}
.login-fb {
    background-color: #3B5998;
    border: 1px solid #3B5998;
}
.logo-fb {
    width: auto;
    height: 40px;
}
.login-gp {
    background-color: #DF4B38;
    border: 1px solid #DF4B38;
}
.logo-gp {
    width: auto;
    height: 40px;
}
.logo-fb, .logo-gp {
    display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
}
.login-fb, .login-gp {
    width: 84%;
    display: inline-block;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    padding: 0.6em 1em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-transform: uppercase;
    box-sizing: border-box;

}
.login-fb:hover, .login-gp:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
    color: #fff;
    cursor: pointer;
    transition: 0.5s all ;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.icon-gp {
    width: 100%;
    background-image: url(../images/logo-gp.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 48px;
    color: #fff;
    background-color: #DF4B38;
    padding: 0.6em 1em 0.6em 0;
    border: 1px solid #DF4B38;
    border-radius: 10px;   
}
.icon-gp-test {
    background-image: url(../images/logo-gp.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-color: #DF4B38;
    padding-left: 48px;
    color: #fff
}

.divider-title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0 20px;
    text-transform: uppercase;
}
.divider {
    overflow: hidden;
    text-align: center;
}
.divider:before,
.divider:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.divider:before {
    right: 0.5em;
    margin-left: -50%;
}
.divider:after {
    left: 0.5em;
    margin-right: -50%;
}
.input-row {
    padding: 1em 1.5em;
    border: 1px solid #c7c7c7;
    -webkit-border-radius: 15px; 
    -moz-border-radius: 15px;  
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
}
.login-form input[type="text"], .login-form input[type="password"] {
    z-index: 0;
    outline: none;
    font-size: 1em;
    color: #000;
    padding: .6em;
    margin: 0;
    width: 93%;
    border: 2px solid black;
    -webkit-appearance: none;
    display: block;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
.login-form input[type="text"]:focus, .login-form input[type="password"]:focus {
    border: 2px solid #8BADE4;
    transition: 0.3s all ;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
}
.login-form p {
    font-size: 1em;
    color: #000;
    margin: 1.5em 0 .5em; 
    font-weight: 600;
}
/*-- checkbox --*/
.anim {
    font-size: 0.9em;
    color: #000;
    cursor: pointer;
    position: relative;
    margin: 2em 0 0;
    font-weight: 600; 
    display: inline-block;
}
input.checkbox {
    background: #222430;
    cursor: pointer;
    vertical-align: middle;
}
input.checkbox:before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    background: inherit; 
}
input.checkbox:after {
    content: ""; 
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 1em;
    height: 1em;
    border: 1px solid #F44336; 
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -o-transition: .4s all;
    -ms-transition: .4s all;
    transition: .4s all;
}
input.checkbox:checked:after {
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #F44336;
    border-top-color: transparent;
    border-right-color: transparent;
}
 
@keyframes rippling {
    50% {
            border-left-color: #F44336;
    }
    100% {
            border-bottom-color: #F44336;
            border-left-color: #F44336;
    }
} 
.login-form.login-form-left .anim {
    margin-top: 2.5em;
}
/*-- //checkbox --*/
.login-form input[type="submit"] {
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background: #00C23D;
    border: 1px solid #00C23D;
    outline: none;
    cursor: pointer;
    padding: .6em 1em;
    -webkit-appearance: none;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; 
    margin-top: 1em; 
}
.login-form input[type="submit"]:hover {
    background: #1ED760;
    color: #fff;  
    transition: 0.5s all ;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
} 
.login-agileits-bottom {
    margin-top: 1em;
    text-align: center; 
}
.login-agileits-bottom  h6 { 
    font-size: 1em;
    font-weight: 600;
}
.login-agileits-bottom h6 a {
    color: royalblue;
    transition: 0.5s all ;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.login-agileits-bottom h6 a:hover{
    color: blue; 
}
/*-- //main --*/ 
/*-- copyright --*/
.copyright {
    margin: 3em 0 2em;
    text-align: center;
}
.copyright p {
    font-size: 1em;
    color: #fff;
    line-height:1.8em;
}
.copyright p a{
    color: #fff; 
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.copyright p a:hover{
    color: #222430;	
}
/*-- //copyright --*/
/*-- responsive-design --*/
/*
@media(min-width: 3888px), (min-height: 1938px){
    body { background-size: auto; }
}*/
@media screen and (max-width: 1024px) {
    img.bg {
        left: 50%;
        margin-left: -512px;
    }
}
@media(max-width:1440px){
.main-w3lsrow {
    width: 57%; 
} 
}
@media(max-width:1366px){
.main-w3lsrow {
    width: 62%; 
}
} 
@media(max-width:1080px){
.main-w3lsrow {
    width: 73%; 
}
} 
@media(max-width:991px){
h1 {
    /*font-size: 8em; */
}
.login-form { 
    padding: 2em; 
}
.main-w3lsrow {
    width: 70%;
}
.login-form p { 
    margin: 1.2em 0 .5em; 
}
.anim { 
    margin: 1.5em 0 0; 
}
.login-form.login-form-left .anim {
    margin-top: 2em;
}
.login-form input[type="submit"] { 
    margin-top: 3em;
}
.login-agileits-bottom {
    margin-top: 3.6em; 
}
.login-form h2, .login-form h3 {
    font-size: 1.8em; 
}
}
@media(max-width:800px){
.main-w3lsrow {
    width: 82%;
}
h1 {
    /*font-size: 7em;*/
}
}
@media(max-width:667px){
.main-w3lsrow {
    width: 92%;
}
.login-form input[type="text"], .login-form input[type="password"] { 
    padding: .5em; 
}
}
@media(max-width:600px){
.main-w3lsrow {
    width: inherit;
}
.login-form, .login-form.agileits-right {
    width: 50%;
    float: none;
    margin: 0 auto;
}
.login-form.agileits-right { 
    margin: 1.5em auto 0;
}
.login-agileits-bottom {
    margin-top: 2em;
}
.login-form input[type="submit"] {
    margin-top: 2em;
}
} 
@media(max-width:490px){
h1 {
    font-size: 7em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.2em;
}
.login-form, .login-form.agileits-right {
    width: 60%; 
}
.copyright p { 
    padding: 0 1em;
}
}
@media(max-width:384px){
.main {
    padding: 1.5em 0 0; 
}
.login-form h2, .login-form h3 { 
    margin-bottom: 1em; 
}
} 
@media(max-width:320px){
h1 {
    font-size: 1.6em;
}
.login-form, .login-form.agileits-right {
    width: 72%;
    padding: 1.5em;
}
.login-form h2, .login-form h3 {
    font-size: 1.4em;
}
.login-form p {
    font-size: 0.9em; 
}
.login-form.login-form-left .anim {
    margin-top: 1.5em;
}
.login-form input[type="submit"] {
    font-size: 0.9em;
}
.login-agileits-bottom h6 {
    font-size: 0.9em; 
}
.login-agileits-bottom {
    margin-top: 1.5em;
}
.copyright {
    margin: 2em 0 1em; 
}
.copyright p {
    font-size: 0.9em; 
}
}
/*-- //responsive-design --*/
